* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background: #0e1538;
  padding: 100px 0px;
}

.section2 {
  display: flex;
  justify-content: space-between;
}

.section3 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.section4 {
  display: flex;
  gap: 30px;
}


@media screen and (max-width: 768px) {
  .section2, .section3 {
    flex-direction: column;
  }

  .section4 {
    width: 100%;
    flex-direction: column;
  }
  
}